In [10]:
import pandas as pd
import os
COVID = pd.read_excel("./COVID.xlsx")

In [13]:
COVID.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    229 non-null    object
 1   Total   229 non-null    int64
dtypes: int64(1), object(1)
memory usage: 3.7+ KB

In [14]:
COVID['Date'] = pd.to_datetime(COVID['Date'])

In [15]:
COVID['week'] = COVID['Date'].dt.isocalendar().week
COVID['YEAR']=COVID['Date'].dt.year
COVID['YEAR+WEEK'] = COVID['YEAR'].astype(str)+"-"+COVID['week'].astype(str)

In [16]:
COVID

          Date  Total  week  YEAR YEAR+WEEK
0   2020-01-05      2     1  2020    2020-1
1   2020-01-12     45     2  2020    2020-2
2   2020-01-19     90     3  2020    2020-3
3   2020-01-26   1896     4  2020    2020-4
4   2020-02-02  12538     5  2020    2020-5
..         ...    ...   ...   ...       ...
224 2024-04-21  31841    16  2024   2024-16
225 2024-04-28  34278    17  2024   2024-17
226 2024-05-05  30812    18  2024   2024-18
227 2024-05-12  33678    19  2024   2024-19
228 2024-05-19  36014    20  2024   2024-20

[229 rows x 5 columns]

In [18]:
COVID.to_excel('COVID.xlsx', index=True)