In [ ]:
# 상관계수 만들기 OIL PRESENT, 나프타, 황중유,

In [2]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import LSTM, Dense, Dropout
from sklearn.preprocessing import RobustScaler
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error

In [3]:
from sklearn.metrics import mean_absolute_error

In [2]:
df = pd.read_csv("화이팅_ㅋ.csv")

In [3]:
df

          주차     SCFI   코로나확진자       환율  WTI유가     나프타유가   고유황중유가
0     2013-1  1148.08      0.0  1056.49  93.56  106.6980  96.1060
1     2013-2  1232.35      0.0  1058.35  95.56  105.0360  97.7760
2     2013-3  1245.84      0.0  1075.58  95.88  103.4800  97.2140
3     2013-4  1227.84      0.0  1095.19  97.77  106.6620  97.4920
4     2013-5  1219.39      0.0  1096.00  95.72  108.1780  98.5660
..       ...      ...      ...      ...    ...       ...      ...
584  2024-15  1757.04  39459.0  1374.30  83.14   74.9875  79.6475
585  2024-16  1769.54  31841.0  1376.43  83.85   74.3400  80.8120
586  2024-17  1940.63  34278.0  1354.63  78.11   75.0220  80.4920
587  2024-19  2305.79  33678.0  1351.76  80.06   71.8160  81.2640
588  2024-20  2520.76  36014.0  1365.93  77.72   70.4220  79.8220

[589 rows x 7 columns]

In [4]:
# 날짜를 인덱스로 설정
df.set_index('주차', inplace=True)

In [5]:
df.iloc[563:570]

            SCFI      코로나확진자       환율  WTI유가    나프타유가  고유황중유가
주차
2023-52  1759.57  27732700.0  1314.16  73.81  74.1325  69.605
2023-52  1759.57  27732700.0  1314.16  73.69  74.1325  69.605
2023-52  1759.57  27732700.0  1253.50  73.81  74.1325  69.605
2023-52  1759.57  27732700.0  1253.50  73.69  74.1325  69.605
2023-52  1759.57    263390.0  1314.16  73.81  74.1325  69.605
2023-52  1759.57    263390.0  1314.16  73.69  74.1325  69.605
2023-52  1759.57    263390.0  1253.50  73.81  74.1325  69.605

In [6]:
df.drop(df.index[563:570], inplace=True)

In [7]:
df

            SCFI   코로나확진자       환율  WTI유가     나프타유가   고유황중유가
주차
2013-1   1148.08      0.0  1056.49  93.56  106.6980  96.1060
2013-2   1232.35      0.0  1058.35  95.56  105.0360  97.7760
2013-3   1245.84      0.0  1075.58  95.88  103.4800  97.2140
2013-4   1227.84      0.0  1095.19  97.77  106.6620  97.4920
2013-5   1219.39      0.0  1096.00  95.72  108.1780  98.5660
...          ...      ...      ...    ...       ...      ...
2024-15  1757.04  39459.0  1374.30  83.14   74.9875  79.6475
2024-16  1769.54  31841.0  1376.43  83.85   74.3400  80.8120
2024-17  1940.63  34278.0  1354.63  78.11   75.0220  80.4920
2024-19  2305.79  33678.0  1351.76  80.06   71.8160  81.2640
2024-20  2520.76  36014.0  1365.93  77.72   70.4220  79.8220

[581 rows x 6 columns]

In [8]:
df.drop('환율', axis=1, inplace=True)

In [9]:
df

            SCFI   코로나확진자  WTI유가     나프타유가   고유황중유가
주차
2013-1   1148.08      0.0  93.56  106.6980  96.1060
2013-2   1232.35      0.0  95.56  105.0360  97.7760
2013-3   1245.84      0.0  95.88  103.4800  97.2140
2013-4   1227.84      0.0  97.77  106.6620  97.4920
2013-5   1219.39      0.0  95.72  108.1780  98.5660
...          ...      ...    ...       ...      ...
2024-15  1757.04  39459.0  83.14   74.9875  79.6475
2024-16  1769.54  31841.0  83.85   74.3400  80.8120
2024-17  1940.63  34278.0  78.11   75.0220  80.4920
2024-19  2305.79  33678.0  80.06   71.8160  81.2640
2024-20  2520.76  36014.0  77.72   70.4220  79.8220

[581 rows x 5 columns]

In [11]:
X = df.drop(['SCFI'],axis=1)
Y = df['SCFI']

In [12]:
from keras.layers import GRU, Dense, Dropout

In [15]:
from sklearn.model_selection import train_test_split

In [13]:
# 데이터 정규화
scaler_X = RobustScaler()
scaled_X = scaler_X.fit_transform(X)

scaler_Y = RobustScaler()
scaled_Y = scaler_Y.fit_transform(Y.values.reshape(-1, 1))

In [16]:
# 데이터셋을 훈련, 검증 및 테스트 세트로 분할
x_train, x_temp, y_train, y_temp = train_test_split(scaled_X, scaled_Y, test_size=0.4, random_state=42)
x_valid, x_test, y_valid, y_test = train_test_split(x_temp, y_temp, test_size=0.5, random_state=42)

# GRU 입력 형태로 데이터 변환 [samples, time steps, features]
x_train = x_train.reshape((x_train.shape[0], 1, x_train.shape[1]))
x_valid = x_valid.reshape((x_valid.shape[0], 1, x_valid.shape[1]))
x_test = x_test.reshape((x_test.shape[0], 1, x_test.shape[1]))

# GRU 모델 생성
model = Sequential()
model.add(GRU(50, return_sequences=True, input_shape=(1, x_train.shape[2])))
model.add(GRU(50, return_sequences=False))
model.add(Dropout(0.2))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

# 모델 훈련
history = model.fit(x_train, y_train, validation_data=(x_valid, y_valid), epochs=100, batch_size=1, verbose=1)

# 모델 예측
train_predict = model.predict(x_train)
valid_predict = model.predict(x_valid)
test_predict = model.predict(x_test)

WARNING:tensorflow:From C:\Users\user\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From C:\Users\user\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Epoch 1/100
WARNING:tensorflow:From C:\Users\user\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\user\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

348/348 [==============================] - 12s 11ms/step - loss: 4.9664 - mae: 1.2598 - val_loss: 1.9353 - val_mae: 0.7677
Epoch 2/100
348/348 [==============================] - 2s 5ms/step - loss: 2.5442 - mae: 0.9066 - val_loss: 1.8322 - val_mae: 0.7605
Epoch 3/100
348/348 [==============================] - 2s 6ms/step - loss: 2.0530 - mae: 0.8229 - val_loss: 1.9128 - val_mae: 0.7889
Epoch 4/100
348/348 [==============================] - 2s 5ms/step - loss: 1.9247 - mae: 0.8007 - val_loss: 1.7447 - val_mae: 0.8115
Epoch 5/100
348/348 [==============================] - 2s 6ms/step - loss: 1.9304 - mae: 0.7843 - val_loss: 1.7542 - val_mae: 0.7675
Epoch 6/100
348/348 [==============================] - 2s 5ms/step - loss: 1.9898 - mae: 0.7824 - val_loss: 1.7007 - val_mae: 0.7596
Epoch 7/100
348/348 [==============================] - 2s 6ms/step - loss: 1.7795 - mae: 0.7765 - val_loss: 1.7411 - val_mae: 0.7795
Epoch 8/100
348/348 [==============================] - 2s 5ms/step - loss: 1.8295 - mae: 0.7748 - val_loss: 1.5542 - val_mae: 0.7792
Epoch 9/100
348/348 [==============================] - 2s 6ms/step - loss: 1.6846 - mae: 0.7535 - val_loss: 1.7070 - val_mae: 0.7707
Epoch 10/100
348/348 [==============================] - 2s 7ms/step - loss: 1.6111 - mae: 0.7617 - val_loss: 1.4180 - val_mae: 0.7114
Epoch 11/100
348/348 [==============================] - 2s 6ms/step - loss: 1.5833 - mae: 0.7563 - val_loss: 1.3943 - val_mae: 0.6717
Epoch 12/100
348/348 [==============================] - 2s 5ms/step - loss: 1.5824 - mae: 0.7502 - val_loss: 1.3534 - val_mae: 0.7017
Epoch 13/100
348/348 [==============================] - 2s 5ms/step - loss: 1.5394 - mae: 0.7301 - val_loss: 1.4707 - val_mae: 0.7295
Epoch 14/100
348/348 [==============================] - 2s 5ms/step - loss: 1.3895 - mae: 0.7064 - val_loss: 1.3130 - val_mae: 0.6588
Epoch 15/100
348/348 [==============================] - 2s 6ms/step - loss: 1.4507 - mae: 0.7064 - val_loss: 1.2649 - val_mae: 0.6917
Epoch 16/100
348/348 [==============================] - 2s 5ms/step - loss: 1.3992 - mae: 0.7088 - val_loss: 1.2755 - val_mae: 0.7106
Epoch 17/100
348/348 [==============================] - 2s 6ms/step - loss: 1.4194 - mae: 0.7030 - val_loss: 1.3057 - val_mae: 0.6793
Epoch 18/100
348/348 [==============================] - 2s 6ms/step - loss: 1.3036 - mae: 0.6808 - val_loss: 1.4876 - val_mae: 0.7298
Epoch 19/100
348/348 [==============================] - 2s 7ms/step - loss: 1.2733 - mae: 0.6960 - val_loss: 1.1665 - val_mae: 0.6344
Epoch 20/100
348/348 [==============================] - 2s 5ms/step - loss: 1.2699 - mae: 0.6598 - val_loss: 1.1836 - val_mae: 0.6637
Epoch 21/100
348/348 [==============================] - 2s 5ms/step - loss: 1.1769 - mae: 0.6528 - val_loss: 1.1474 - val_mae: 0.6477
Epoch 22/100
348/348 [==============================] - 2s 5ms/step - loss: 1.1354 - mae: 0.6415 - val_loss: 1.8112 - val_mae: 0.7776
Epoch 23/100
348/348 [==============================] - 2s 5ms/step - loss: 1.1879 - mae: 0.6694 - val_loss: 1.0680 - val_mae: 0.6068
Epoch 24/100
348/348 [==============================] - 2s 5ms/step - loss: 1.1446 - mae: 0.6231 - val_loss: 1.0666 - val_mae: 0.6191
Epoch 25/100
348/348 [==============================] - 2s 6ms/step - loss: 1.1240 - mae: 0.6307 - val_loss: 1.2160 - val_mae: 0.6547
Epoch 26/100
348/348 [==============================] - 2s 6ms/step - loss: 1.0294 - mae: 0.6165 - val_loss: 0.9675 - val_mae: 0.6092
Epoch 27/100
348/348 [==============================] - 2s 6ms/step - loss: 1.2826 - mae: 0.6686 - val_loss: 0.9971 - val_mae: 0.6261
Epoch 28/100
348/348 [==============================] - 2s 6ms/step - loss: 1.1237 - mae: 0.6376 - val_loss: 1.1025 - val_mae: 0.6190
Epoch 29/100
348/348 [==============================] - 2s 6ms/step - loss: 1.0846 - mae: 0.6265 - val_loss: 1.1354 - val_mae: 0.6258
Epoch 30/100
348/348 [==============================] - 2s 6ms/step - loss: 0.9269 - mae: 0.5920 - val_loss: 0.8933 - val_mae: 0.5791
Epoch 31/100
348/348 [==============================] - 2s 6ms/step - loss: 0.9692 - mae: 0.5856 - val_loss: 0.9522 - val_mae: 0.6165
Epoch 32/100
348/348 [==============================] - 2s 5ms/step - loss: 0.9219 - mae: 0.5828 - val_loss: 0.8446 - val_mae: 0.5861
Epoch 33/100
348/348 [==============================] - 2s 5ms/step - loss: 0.9221 - mae: 0.5872 - val_loss: 0.9355 - val_mae: 0.5942
Epoch 34/100
348/348 [==============================] - 2s 5ms/step - loss: 0.9521 - mae: 0.5995 - val_loss: 0.8756 - val_mae: 0.5767
Epoch 35/100
348/348 [==============================] - 2s 6ms/step - loss: 1.0150 - mae: 0.6001 - val_loss: 0.9774 - val_mae: 0.5820
Epoch 36/100
348/348 [==============================] - 2s 5ms/step - loss: 0.9167 - mae: 0.5704 - val_loss: 0.7661 - val_mae: 0.5450
Epoch 37/100
348/348 [==============================] - 2s 6ms/step - loss: 0.8942 - mae: 0.5812 - val_loss: 0.8166 - val_mae: 0.5770
Epoch 38/100
348/348 [==============================] - 2s 6ms/step - loss: 1.0050 - mae: 0.5885 - val_loss: 0.9875 - val_mae: 0.5906
Epoch 39/100
348/348 [==============================] - 2s 5ms/step - loss: 0.8525 - mae: 0.5548 - val_loss: 0.8870 - val_mae: 0.5831
Epoch 40/100
348/348 [==============================] - 2s 6ms/step - loss: 0.9230 - mae: 0.5726 - val_loss: 0.8652 - val_mae: 0.5984
Epoch 41/100
348/348 [==============================] - 2s 6ms/step - loss: 0.7527 - mae: 0.5447 - val_loss: 0.7897 - val_mae: 0.5727
Epoch 42/100
348/348 [==============================] - 2s 5ms/step - loss: 0.8204 - mae: 0.5653 - val_loss: 0.7781 - val_mae: 0.5634
Epoch 43/100
348/348 [==============================] - 2s 6ms/step - loss: 0.8337 - mae: 0.5632 - val_loss: 0.8128 - val_mae: 0.5704
Epoch 44/100
348/348 [==============================] - 2s 5ms/step - loss: 0.8402 - mae: 0.5826 - val_loss: 0.7753 - val_mae: 0.5547
Epoch 45/100
348/348 [==============================] - 2s 5ms/step - loss: 0.7925 - mae: 0.5534 - val_loss: 0.9413 - val_mae: 0.5846
Epoch 46/100
348/348 [==============================] - 2s 6ms/step - loss: 0.7927 - mae: 0.5469 - val_loss: 0.8436 - val_mae: 0.5697
Epoch 47/100
348/348 [==============================] - 2s 6ms/step - loss: 0.8149 - mae: 0.5441 - val_loss: 0.7885 - val_mae: 0.5555
Epoch 48/100
348/348 [==============================] - 2s 6ms/step - loss: 0.7797 - mae: 0.5426 - val_loss: 0.9791 - val_mae: 0.5964
Epoch 49/100
348/348 [==============================] - 2s 5ms/step - loss: 0.8078 - mae: 0.5493 - val_loss: 0.8487 - val_mae: 0.5813
Epoch 50/100
348/348 [==============================] - 2s 5ms/step - loss: 0.8219 - mae: 0.5621 - val_loss: 0.8988 - val_mae: 0.5646
Epoch 51/100
348/348 [==============================] - 2s 5ms/step - loss: 0.7423 - mae: 0.5366 - val_loss: 0.8231 - val_mae: 0.5686
Epoch 52/100
348/348 [==============================] - 2s 5ms/step - loss: 0.7940 - mae: 0.5364 - val_loss: 0.7570 - val_mae: 0.5389
Epoch 53/100
348/348 [==============================] - 2s 6ms/step - loss: 0.7857 - mae: 0.5539 - val_loss: 0.8906 - val_mae: 0.5899
Epoch 54/100
348/348 [==============================] - 2s 5ms/step - loss: 0.7890 - mae: 0.5782 - val_loss: 0.8893 - val_mae: 0.5727
Epoch 55/100
348/348 [==============================] - 2s 6ms/step - loss: 0.8073 - mae: 0.5519 - val_loss: 0.9373 - val_mae: 0.5811
Epoch 56/100
348/348 [==============================] - 2s 6ms/step - loss: 0.7434 - mae: 0.5201 - val_loss: 0.7343 - val_mae: 0.5373
Epoch 57/100
348/348 [==============================] - 2s 6ms/step - loss: 0.7679 - mae: 0.5369 - val_loss: 0.7687 - val_mae: 0.5473
Epoch 58/100
348/348 [==============================] - 2s 5ms/step - loss: 0.6835 - mae: 0.5206 - val_loss: 0.7661 - val_mae: 0.5368
Epoch 59/100
348/348 [==============================] - 2s 6ms/step - loss: 0.7048 - mae: 0.5238 - val_loss: 0.9116 - val_mae: 0.5965
Epoch 60/100
348/348 [==============================] - 2s 6ms/step - loss: 0.7706 - mae: 0.5394 - val_loss: 0.9830 - val_mae: 0.6178
Epoch 61/100
348/348 [==============================] - 2s 6ms/step - loss: 0.7183 - mae: 0.5354 - val_loss: 0.7958 - val_mae: 0.5539
Epoch 62/100
348/348 [==============================] - 2s 6ms/step - loss: 0.7276 - mae: 0.5283 - val_loss: 0.8066 - val_mae: 0.5567
Epoch 63/100
348/348 [==============================] - 2s 5ms/step - loss: 0.6537 - mae: 0.5117 - val_loss: 0.8222 - val_mae: 0.5538
Epoch 64/100
348/348 [==============================] - 2s 6ms/step - loss: 0.6763 - mae: 0.5117 - val_loss: 0.7434 - val_mae: 0.5351
Epoch 65/100
348/348 [==============================] - 2s 5ms/step - loss: 0.6843 - mae: 0.5241 - val_loss: 0.7231 - val_mae: 0.5205
Epoch 66/100
348/348 [==============================] - 2s 6ms/step - loss: 0.6607 - mae: 0.5054 - val_loss: 0.7001 - val_mae: 0.5130
Epoch 67/100
348/348 [==============================] - 2s 6ms/step - loss: 0.7298 - mae: 0.5261 - val_loss: 0.7770 - val_mae: 0.5596
Epoch 68/100
348/348 [==============================] - 2s 5ms/step - loss: 0.5996 - mae: 0.4969 - val_loss: 0.7352 - val_mae: 0.5254
Epoch 69/100
348/348 [==============================] - 2s 6ms/step - loss: 0.6213 - mae: 0.4958 - val_loss: 0.7055 - val_mae: 0.5239
Epoch 70/100
348/348 [==============================] - 2s 6ms/step - loss: 0.6988 - mae: 0.5085 - val_loss: 0.7239 - val_mae: 0.5298
Epoch 71/100
348/348 [==============================] - 2s 5ms/step - loss: 0.6950 - mae: 0.5074 - val_loss: 0.8163 - val_mae: 0.5549
Epoch 72/100
348/348 [==============================] - 3s 7ms/step - loss: 0.6273 - mae: 0.4794 - val_loss: 1.0445 - val_mae: 0.6075
Epoch 73/100
348/348 [==============================] - 2s 6ms/step - loss: 0.6630 - mae: 0.5018 - val_loss: 0.9002 - val_mae: 0.5684
Epoch 74/100
348/348 [==============================] - 2s 6ms/step - loss: 0.6710 - mae: 0.5056 - val_loss: 0.7923 - val_mae: 0.5489
Epoch 75/100
348/348 [==============================] - 2s 5ms/step - loss: 0.6570 - mae: 0.4995 - val_loss: 0.6973 - val_mae: 0.5297
Epoch 76/100
348/348 [==============================] - 2s 5ms/step - loss: 0.6522 - mae: 0.5029 - val_loss: 0.9952 - val_mae: 0.6064
Epoch 77/100
348/348 [==============================] - 2s 6ms/step - loss: 0.6794 - mae: 0.5082 - val_loss: 0.7247 - val_mae: 0.5362
Epoch 78/100
348/348 [==============================] - 2s 7ms/step - loss: 0.6524 - mae: 0.5008 - val_loss: 0.7339 - val_mae: 0.5344
Epoch 79/100
348/348 [==============================] - 2s 7ms/step - loss: 0.6038 - mae: 0.4917 - val_loss: 0.7200 - val_mae: 0.5156
Epoch 80/100
348/348 [==============================] - 2s 6ms/step - loss: 0.6375 - mae: 0.4922 - val_loss: 0.6823 - val_mae: 0.5064
Epoch 81/100
348/348 [==============================] - 2s 6ms/step - loss: 0.6887 - mae: 0.5055 - val_loss: 0.7831 - val_mae: 0.5530
Epoch 82/100
348/348 [==============================] - 3s 7ms/step - loss: 0.6252 - mae: 0.4843 - val_loss: 0.6907 - val_mae: 0.5063
Epoch 83/100
348/348 [==============================] - 3s 9ms/step - loss: 0.6255 - mae: 0.4843 - val_loss: 0.7832 - val_mae: 0.5462
Epoch 84/100
348/348 [==============================] - 3s 9ms/step - loss: 0.6261 - mae: 0.5060 - val_loss: 0.8019 - val_mae: 0.5497
Epoch 85/100
348/348 [==============================] - 3s 7ms/step - loss: 0.5480 - mae: 0.4770 - val_loss: 0.6889 - val_mae: 0.4894
Epoch 86/100
348/348 [==============================] - 3s 9ms/step - loss: 0.6556 - mae: 0.4938 - val_loss: 0.7887 - val_mae: 0.5398
Epoch 87/100
348/348 [==============================] - 3s 9ms/step - loss: 0.5579 - mae: 0.4529 - val_loss: 0.7359 - val_mae: 0.5132
Epoch 88/100
348/348 [==============================] - 3s 8ms/step - loss: 0.5820 - mae: 0.4586 - val_loss: 0.7008 - val_mae: 0.5229
Epoch 89/100
348/348 [==============================] - 3s 8ms/step - loss: 0.6458 - mae: 0.4966 - val_loss: 0.7809 - val_mae: 0.5473
Epoch 90/100
348/348 [==============================] - 3s 7ms/step - loss: 0.6033 - mae: 0.4886 - val_loss: 0.6492 - val_mae: 0.4866
Epoch 91/100
348/348 [==============================] - 3s 7ms/step - loss: 0.6808 - mae: 0.4761 - val_loss: 0.6965 - val_mae: 0.5104
Epoch 92/100
348/348 [==============================] - 3s 7ms/step - loss: 0.5446 - mae: 0.4640 - val_loss: 0.6698 - val_mae: 0.4885
Epoch 93/100
348/348 [==============================] - 3s 8ms/step - loss: 0.6569 - mae: 0.4767 - val_loss: 0.6592 - val_mae: 0.4910
Epoch 94/100
348/348 [==============================] - 3s 8ms/step - loss: 0.5914 - mae: 0.4544 - val_loss: 0.7516 - val_mae: 0.5376
Epoch 95/100
348/348 [==============================] - 3s 8ms/step - loss: 0.5735 - mae: 0.4934 - val_loss: 0.6994 - val_mae: 0.4993
Epoch 96/100
348/348 [==============================] - 3s 8ms/step - loss: 0.6506 - mae: 0.4848 - val_loss: 0.7953 - val_mae: 0.5282
Epoch 97/100
348/348 [==============================] - 3s 8ms/step - loss: 0.6261 - mae: 0.4879 - val_loss: 0.7584 - val_mae: 0.5235
Epoch 98/100
348/348 [==============================] - 2s 7ms/step - loss: 0.5069 - mae: 0.4432 - val_loss: 0.6733 - val_mae: 0.5000
Epoch 99/100
348/348 [==============================] - 3s 8ms/step - loss: 0.6085 - mae: 0.4706 - val_loss: 0.6993 - val_mae: 0.5136
Epoch 100/100
348/348 [==============================] - 3s 9ms/step - loss: 0.5897 - mae: 0.4602 - val_loss: 0.6807 - val_mae: 0.5074
11/11 [==============================] - 4s 5ms/step
4/4 [==============================] - 0s 6ms/step
4/4 [==============================] - 0s 7ms/step

In [1]:
# 모델 평가
mae = mean_absolute_error(y_test, test_predict)
r2 = r2_score(y_test, test_predict)

print(f'Test MAE: {mae:.3f}')
print(f'R2 Score: {r2:.3f}')

NameError: name 'mean_absolute_error' is not defined